//
//  {{name}}.h
//
//  Created on {{today}}
//  Copyright (c) {{year}}. All rights reserved.
//

#import <Foundation/Foundation.h>

@interface {{name}} : NSObject <NSCoding>

{{#each properties}}
  {{#if name}}
@property (nonatomic, {{memory}}) {{type}} {{name}};
  {{/if}}
{{/each}}

+ ({{name}} *)modelWithDictionary:(NSDictionary *)dict;
+ ({{name}} *)modelWithString:(NSString *)json;

- (instancetype)initWithString:(NSString *)json;
- (instancetype)initWithDictionary:(NSDictionary *)dict;
- (NSDictionary *)dictionaryRepresentation;

@end
